.border-style{
    border-left: 3px solid red;
    color: darkblue;
    margin-left: 10px;
}
.point{
    cursor: pointer;
}

.card-border{
    border-image: linear-gradient(#FF3633, #F98733) 30;
    border-width: 2px;
    border-style: solid;
}