.zoom {
  overflow: hidden;
}
.zoom .imgContainer {
  height: auto;
  overflow: hidden;
}
.zoom:hover .imgContainer img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.zoom .imgContainer img {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

/* <div class="shop-item">
  <div class="imgContainer">
    <img src="http://redensart.bplaced.net/img/schild.jpg" />
  </div>
  <div class="shop-content">
    <h3>Schilder</h3>
    <p>Kleiner Beispieltext zur Beschreibung des Produktes</p>
    <a href="#" class="button">Bestellen</a>
  </div>
</div> */