
/* category */
.border-style{
    border-left: 3px solid red;
    color: rgba(21, 148, 27, 0.781);
    
}
.point{
    cursor: pointer;
}

.card-border{
    border-image: linear-gradient(#FF3633, #F98733) 30;
    border-width: 2px;
    border-style: solid;
}
.effect:hover{
    color: rgb(69, 224, 224);
}
.extra p:hover{
    color: rgb(69, 224, 224);
}
/* footer */
.background{
    background-color: darkgrey;
}
.justify{
    text-align: justify;
}
/* contact */
.zoom {
    overflow: hidden;
  }
  .zoom .imgContainer {
    height: auto;
    overflow: hidden;
  }
  .zoom:hover .imgContainer img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  
  }
  .zoom .imgContainer img {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    
  }
  
  /* Last */
  .title{
    position: relative;
    overflow: hidden;
    padding: 0!important;
    text-align: left;
    margin: 0;
    font-size: 24px!important;
    margin-bottom: 15px!important;
    
    }
    .title::before{
        position:  absolute;
        content: '';
        width: 100%;
        height: 4px!important;
        background: #d1d1ce!important;
        z-index: -1;
        top: 12px!important;
        left: 0;
    }
    .title::after{
        position: absolute;
        content: '';
        width: 100%;
        height: 4px!important;
        background: #d8dfd4!important;
        z-index: -1;
        top: 20px!important;
        left: 0;
    }
    .title span{
        background: lightgray!important;
        color: #000;
       
        display: inline-block;
        padding: 10px;
        
    }
  /* segment */
.clickable{
    background-color: white;
}
.clickable:hover{
    background-color: darkgrey;
    cursor: pointer;
    font-weight: bold;
}

li p:hover{
    color: rgb(69, 224, 224);
    cursor: pointer;
}
  /* image ratio */
  .fix-ratio{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  .fix-ratio-others{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 90%;
    width: 60%;
    object-fit: cover;
    overflow: hidden;
  }  


  /* line setuup */
  .line p{
    font-size: 16px;
    line-height: 24px;
    color: #555;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
   
    
    padding-right: 5px;
  }
  /* cat-row */
  